div{
background-color: rgb(253, 217, 100);
border-radius: 40px;
border-color: orangered;
padding: 50px 60px;

}

h6{
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-size: 35px;
color: orange;
border-color: black;
border-width: 5px;
border-right: 5px;
}

h5{
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-size: 35px;
color: orange;
border-color: black;
border-width: 5px;
border-right: 5px;
}

button{
    padding: 15px 30px;
    font-size: 16px;
    color: white;
    background: linear-gradient(90deg, #ff0066, #ff6600);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 0 4px 15px rgba(255, 0, 102, 0);
    transition: box-shadow 0.3s ease, transform 0.3s ease;
}
    

